@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 89.5%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 81.25%;
  }
}

h1 {
  font-size: 2rem;
}

body {
  font-size: 93.75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button {
  background-color: rgba(201, 201, 201, 0.384);

  border: 1px solid rgba(153, 153, 153, 0.596);
  border-radius: 3px;
}
